.l-wrapper {
	margin: 0 5%;
}

@media screen and (min-width: 1280px) {
	.l-wrapper {
		margin: 0 10%;
	}

	.m-grid--first {
		width: 80%;
		display: grid;
		margin-left: 10%;
		margin-right: 10%;
		grid-template-rows: 100%;
		grid-template-columns: 50% 25%;
		gap: 5%;
	}
}
